@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}
#root{
  width: 355px;
  height: 833px;
display: flex;
flex-direction: column;
overflow: hidden;

}



body{
  background: rgb(31,13,58);
  background: linear-gradient(180deg, rgba(31,13,58,1) 35%, rgba(0,212,255,1) 100%); 
  background-repeat: no-repeat;
 height: 100vh;

 width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.nav-button{
  background-color: transparent;
  border: none;
}

.menu{
  background-color: #d2d2d5;
  width: 100%;
  height: 50px;
  box-shadow: 0px  0px 3px  1px rgba(0 0 0 / .3);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}





.title-one{
 
  font-size: larger;
  font-weight: 700;
  padding: 40px;
  
}


.HomeDivOne{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px; 
  position: relative;
}

.picture{
  background-image: url(./img/pictures.png);
  background-repeat: no-repeat;
  width: 355px;
  height: 500px;
  position: absolute;

       
}



.logo1{

  z-index: 1000;
  background-image: url(./img/logo-principal-chico.png);
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: 230px;
  margin-left: 20px;
  position: absolute;
}

.HomeDivTwo{
  margin-top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}
.principal-button{
  width: 280px;
  height: 50px;
  background-color: white;
  color:black;
  font-size: large;
  border-radius: 8px;
  border-style: none;
  box-shadow: 10px 5px 5px rgba(37, 37, 37, 0.1);
  margin-top: 30px;
}
.principal-button:hover{
  background-color: rgb(31,13,58);
  color: white;
  transform: scale(1.05);
  cursor: pointer;

}

.register-div{

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: white;

  
}
.button-register{
  padding: 10px;
  font-weight: 800;
  
}
.log{
  background-color: transparent;
  border: none;
  color: white;
  
}

.button-register:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.register-label{
 padding-top: 10px;
 padding-bottom: 10px;
 margin-top: 3px;
 
}

.condition-p{
  
  width: 350px;
  color: white;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}





/* Pag de Registro*/


.register-form{
  width: 325px;
  height: 650px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin: 30px 15px 15px 15px;

}
.ad{
  color: white;
  font-size: medium;
 text-align: start;
 margin: 5px 0px 0px 50px;
 

}
input{
  padding-left: 15px;
  margin-top: 15px ;
  width: 280px;
  height: 50px;
  border-radius: 3px;
  border-style: solid;
  font-size: large;
  
}
.hr-log{
  margin: 30px;
  width: 295px;
  border-color: rgb(212, 205, 205);
}
.hr-reg{
  margin: 30px;
  width: 270px;
  border-color: rgb(212, 205, 205);
}
.singin-google-facebook{
  margin: 10px 20px 0px 80px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.reg{
  margin: 10px 20px 10px 65px;
}
.alertLogInSignUp{
  margin-bottom: 20px;
}
.google-facebook-icon{
  width: 55px;
  height: 55px;
  transition: 0.2s;
  background-color: transparent;
  border-radius: 50px;
  border-style: none;
}
.google-facebook-icon:hover{
  transform: scale(1.05);
  box-shadow: 0 0 2rem rgba(0 0 0 / .3);

}
.principal-button-dark{
  margin-top: 40px;
  width: 280px;
  height: 50px;
  background-color: rgb(31,13,58);
  color: white;
  font-size: large;
  border-radius: 8px;
  border-style: none;
  box-shadow: 10px 5px 5px rgba(37, 37, 37, 0.1);
  
}
.principal-button-dark:hover{
  background-color:rgba(0,212,255,1);
  color: black;
  transform: scale(1.05);
  cursor: pointer;

}

#backP{
  display: flex;
  margin: 30px 0px 0px 15px;
  text-align: center;
  width: 33px;
  height: 25px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  
}
#backP:hover{
  transform: scale(1.05);
}



/* Pag de Login */

.sing-in-father{
  width: 100%;
  height: 812px;
}
.title-two{
  color: white;
 display: flex;
 flex-direction: row;
 margin: 20px 0px 0px 40px;
 gap: 10px;
  
}
.init{
  font-size: larger;
  padding-top: 10px;
}
span{
  font-size: small;
}
.sing-in-form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  
}

.input-form{
  margin-bottom: 30px;
}


.correo, .password{
  border: 1px solid white;
  background-color: transparent;
}
.correo, .password::placeholder {
  color: white;
}
.logo-blanco{
  margin-left: 125px;
  margin-top: 30px;
  background-image: url(./img/logo-blanco.png);
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
}



/* Pag de Post */


.container-presentation{
  box-shadow: 0px  0px 5px  5px rgba(0 0 0 / .3);
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, rgba(31,13,58,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 0 0 30px 0;
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
 padding-right:30px;

}
.all{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-background{
  background-color: #F1F1F1;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  padding: 10px;
  padding-top: 10px;
  width: 100%;
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-logo{
  background-image: url(./img/logo-post-movil.png);
  height: 100px;
  width: 180px;
  background-repeat: no-repeat;
  padding-top:100px;

}
.btn-finish{
  border: none;
  background-color: transparent; 
  margin-bottom: 35px;
}
.btn-finish:hover{
  cursor: pointer;
  transform: scale(1.05);
  
}

/*.container-close{
 background-color: red;
  height: 30px;
  width: 30px;

}*/


.section-post{
 
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  
}

.section-post-history{
  height: 100%;
  overflow: scroll;
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 5px;
  width: 100%;

}

.compartir{
  background-color: rgb(31,13,58);
  color: white;
  padding: 5px 10px ;
  border-radius: 5px;
  border: none;


  
}

.text-area-post{
  padding: 10px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: solid 1px rgb(197, 197, 197);
  resize: none;
}


.container-photo-post{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.container-name-picture{
  display: flex;
  flex-direction: row;
  gap:10px;
  text-align: center;

}

h3{
  text-align: center;
  justify-content: center;
  padding-top: 8px;
  

}


/*POST*/
.card{
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.user{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.name{
  padding: 5px 0 0 5px  ;
}
.user-name{
  display: flex;
  flex-direction: row;

}
.btn-delete, .btn-edit{
  background-color: transparent;
  border: none;
 
}
.btn-delete:hover, .btn-edit:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 6px 12px rgb(149, 154, 154);

}
.container-text-post{
  margin-top: 10px;
  padding: 5px;
  text-align: left;
  width: 100%;
  background-color: #F5F5F5;
  height: auto;
  overflow: hidden;
 
}
.likes{
  display: flex;
  flex-direction: row;  
  width: 100px;
  height: 100px;
  background-color:#38B7D1;
}
container-likes{
  width: 50px;
  height: 50px;
  background-color: chartreuse;

}